body{
margin: 0;
font-size: 30px;

}


.top{
text-align: center;
background-image: url("bg4.jpg");
background-size: 100% 100%;

/* height: 100%; */

padding: 300px;

}
#mainheading{
  /* font-size: 50px; */
  /* margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;

	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777; */
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Lobster', cursive;
	font-size: 80px;
	margin-bottom: 30px;


}

#myimg{
  height: 200px;
  width: 200px;
}
.pro{
  text-decoration:underline;
}
.skill1-img{
  height: 100px;
  width:100px;
  padding: 20px;
}
.profile{
  text-align: center;
  padding: 25px;
}
.mid{
text-align: center;
/* background-color: #CCF2F4; */
background-color: #EFF8FF;

}
.down{
text-align: center;

}
.contact-me{
  padding: 20px;
}
.share{
  font-size: 20px;
}
.footer{
  font-size: 15px;
  padding-top:20px;
  word-spacing: 1px;

}
.bottom-container{
  background-color: #79e0ff;
  padding: 10px;
  text-decoration-color: white;
  word-spacing: 15px;

}
